:root{
    --tipografiaPrincipal: 'Oswald', sans-serif;
    --tipografiaSecundaria: 'Montserrat', sans-serif;
    --colorPrimario: rgb(47, 210, 255);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 110rem;
    width: 95%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
h3 {
    font-size: 2rem;
    font-weight: 600;
}
h4{
    font-size: 1.5rem;
    font-weight: 600;
}

body{
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    font-family: var(--tipografiaSecundaria);
}

a{
    color: #000000;
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav-container{
    width: 90%;
    margin: auto;
    font-family: var(--tipografiaSecundaria);
}


.lineaNav{
    margin: 0;
}

/*Navigation -----------------------------------------------------------------------------------------*/

.formulario{
    background-color: var(--colorPrimario);
}

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 20px 0;
}

.nav-brand{
    width: 5rem;

}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 20px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #000000;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin: 0;
}

.boton-sesion{
    font-size: 17px;
    width: 6rem;
    height: 2.3rem;
}



/*Banner -----------------------------------------------------------------------------------------*/

.bannerInicio{
    position: relative;
    max-height: 40rem;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
}

.imagenBannerInicio {
    display: block;
    width: 100%;
    filter: blur(1px);
}


.bannerContainer{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
}

.bannerContainer h1{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    font-size: 4rem;
    font-weight: 700;
}

.bannerContainer span{
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--colorPrimario);
    padding: 1rem 2rem;
}

.iniciarSesion {
    margin: 0;
    padding: 0;
}


/*About us -----------------------------------------------------------------------------------------*/

.quienesSomosContainer{
    width: 80%;
    padding: 5rem 0;
}

@media (min-width: 768px) {
    .quienesSomosContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}

.quienesSomosParrafos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*Contacto -----------------------------------------------------------------------------------------*/

.contactoContainer{
    display: grid;
    place-items: center;
    margin: auto;
    padding: 40px;
    width: 70%;
}

.inscripcion-container {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
  
.inscripcion-container h3 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
  
.form-group {
    margin-bottom: 20px;
}

  
input[type="text"],
input[type="email"],
input[type="Asunto"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="Mensaje"]{
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #0056b3;
}




/* Niveles Educativos Index --------------------------------------------------------------- */

.contenedorNivelesEducativos {
    background-color: var(--colorPrimario);
}

.bannerNivelesEstudiantiles{
    display: grid;
    place-items: center;
    margin: auto;
    padding: 40px;
    width: 80%;
}

.bannerNivelesEstudiantiles h2{
    color: white;
}

.grillaNiveles h3{
    text-align: center;
    padding: 1rem 0;
    background-color: white;
}

.nivel {
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .grillaNiveles{
        display: grid;
        place-content: center;
        grid-template-columns: 33% 33% 33%;
        column-gap: 3rem;
    }
    .nivel {
        padding: 0;
    }
}




/* Contactanos -------------------------------------------------------------------------------*/

@media (min-width: 768px) {
    .contactoContenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        gap: 5rem;
        padding: 3rem 0;
        height: 22rem;
    }
}

.contactoContenedor{
    text-align: center;
}


.contactoTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactoTexto p{
    font-size: 2rem;
}


/* Niveles Educativos Pagina --------------------------------------------------------------- */

.bannerContenido{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
}

.bannerContenido h1{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
}

.bannerResto{
    max-height: 30rem;
}

.imagenBannerOtros {
    display: block;
    width: 100%;
    filter: blur(2.5px);
}

/* Formulario--------------------------------------------------------------- */

.headerFormulario{
    background-color: rgb(47, 210, 255);
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.headerFormulario h1{
    font-family: 'Handlee', cursive; 
    font-size: 80px;
}

.fondoFormulario{
    background-color: rgb(47, 210, 255);
    padding: 20px 0;
}

.fondoFormulario h3{
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
}

.formularioContainer {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .formularioContainer h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
 .form-group label {
    font-weight: normal;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

/* Noticias --------------------------------------------------------------- */


.news-cards{
    width: 80%;
    display: grid;  
    justify-content: center;
    gap: 4rem;
    grid-template-columns: repeat(3, 2fr);
    margin: 30px auto;
}

.noticiasNovedades h2{
    text-align: center;
    padding: 3rem;
}

.news-cards img{
    display: grid;
    max-width: 100%;
    margin-bottom: 1.5rem;
}

input[type="LeerMas"] {
    background-color: #007bff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 100px;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* Bienestar Estudiantil --------------------------------------------------------------- */

.headerBienestarEstudiantil{
    background-color: rgb(47, 210, 255);
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profesoresContainer h2{
    text-align: center;
    margin-top: 2rem;
}

.carousel h2{
    text-align: center;
    padding: 2rem;
    color: white;
}

@media (min-width: 768px) {
    .profesoresGrilla{
    padding: 2rem 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 0 2rem;
    }
    .profesor {
        text-align: center;
    }
    .profesor h3{
        margin-top: 1rem;
    }
}

.profesoresGrilla div{
    margin: 40px auto 40px auto;
}

.profesoresGrilla img{
    width: 100%;
    border-radius: 100%;
}

#carouselExampleIndicators{
    width: 70%;
    margin: auto;
}

.carousel-item img{
    width: 100%;
}

.Slider{
    background-color: var(--colorPrimario);
    
}


/* Trabaja con Nosotros --------------------------------------------------------------- */



.headerTrabajaConNosotros{
    background-color: rgb(47, 210, 255);
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ofertas{
    width: 70%;
    display: grid;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formularioOfertas{
    display: grid;
    row-gap: 20px;
    width: 70%;
    margin-top: 20px;

}

.formularioHeader{
    background-color: rgb(47, 210, 255);
    padding: 10px;
}

.formularioContenido{
    padding: 10px 10px 5px 10px;
    background-color: #d9d9d9;
}

input[type="Aplicar"]{
    margin-top: 10px;
    background-color: #007bff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 70px;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="Aplicar"]:hover {
    background-color: #0056b3;
}

/* FOOTER --------------------------------------------------------------- */

.footer-links{
    background-color: #2f3640;
    color: #ffffff;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul a{
    color: #ffffff;
}

.seccionContacto{
    color: aqua;
    margin: 20px auto;
}

.seccionContacto h3{
    color: #ffffff;
}

.footer-container ul li{
    line-height: 2;
}

.footer-hr{
    width: 60%;
    margin: 20px 0 0 20%;
    border: 1px inset #2f3640;
}

.footer-devs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 25%;
    color: #6a6a6a;
}


/* Comentarios --------------------------------------------------------------------*/


.comentarioh2{
    text-align: center;
    color: white;
    padding-bottom: 2rem;
}

.comentariosContenedor {
    padding: 3rem;
}


/* Resizable --------------------------------------------------------------- */

@media (max-width: 1376px){
    .nav-main{
        text-align: center;
    }
}

@media (max-width: 1300px) {

    
    .quienesSomosParrafos img{
        margin: auto;
    }

    .nivelesContainer{
        font-size: 15px;
    }

    .profesoresGrilla div{
       max-width: 70%;
    }

    .ofertasHeader{
        text-align: center;
    }

    .formularioOfertas{
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}

@media (max-width: 1142px) {
    .nav-main ul li{
        padding: 10px;
    }

    
}

@media (max-width: 1000px){

    .nav-main{
        font-size: 15px;
    } 

    .nivelesContainer{
        grid-template-columns: 100%;
        font-size: 20px;
    }
}

@media (max-width: 917px){

    .nav-brand{
        width: 10%;
    }

    .nav-main ul li{
        padding: 7px;
    }
    
    .news-cards{
        grid-template-columns: repeat(2, 1fr);
        margin: 30px auto;
    }

    .quienesSomosParrafos{
        grid-template-columns: 100%;
    }
}



@media (max-width: 857px){
    .nav-main ul li{
        padding: 3px;
    }

    
}